<div class="container mt-5">
    <h2>Add Customer</h2>
    <form (ngSubmit)="onFormSubmit()">
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" class="form-control" id="firstName" [(ngModel)]="model.FirstName" name="firstName" required>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" class="form-control" id="lastName" [(ngModel)]="model.LastName" name="lastName" required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" [(ngModel)]="model.Email" name="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="text" class="form-control" id="password" [(ngModel)]="model.Password" name="password" required>
      </div>
      <div class="form-group">
        <label for="address">Address:</label>
        <input type="text" class="form-control" id="address" [(ngModel)]="model.Address" name="address" required>
      </div>
      <div class="form-group">
        <label for="mobile">Mobile:</label>
        <input type="text" class="form-control" id="mobile" [(ngModel)]="model.Mobile" name="mobile" required>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  