.textBlur {
    color: transparent;
    text-shadow: 0 0 1px #202122;
}

.navbar {
    box-shadow: none;
    background-color: skyblue;
}

a:hover {
    color: red !important;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;

}

.box-shadow {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
}

.img-fluid {
    height: 300px !important;
}

.cart::after {
    display: none !important;
}
 
.dropdown-menu{
    top: 100%;
    left: unset !important;
    right: 0px !important;
    margin-top: var(--bs-dropdown-spacer);
}
.CartContainer {
    width: 300px;
    padding: 5px;
}
.navbar-brand img {
    width: 30px; 
    margin-right: 10px;
  }
  .user-box {
    position: absolute;
    top: 70px;
    right: 20px; 
    background-color: #f0f0f0; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1000; 
  }
  .center {
    text-align: center;
  }
  
  .logout-link {
    color: red; 
    text-decoration: none;
    font-size: 14px; 
    cursor: pointer;
  }
  
  
  